.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 40px;
  grid-gap: 4px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  text-align: center;
}